---
import Topics from "../data/topics.json";
import SubLayout from "../layouts/sub_layout.astro";
import Sidebar from '../components/Sidebar.astro';

import HorSection2 from "../components/Hor-Section2.astro";
import NavigationBar from "../components/NavigationBar.astro";

---

<SubLayout title={Topics.Titles[0]}>
  <Sidebar currentPage="Homepage">
	</Sidebar>
  
  <div class="Spacer"></div>

  <HorSection2 title="Limits" direction = "left" fontsize1 = "5rem" fontsize2 = "2rem" justifycontent = "center" width = "100%">
    Placeholder Information
  </HorSection2>
</SubLayout>

<style>
  .Spacer {
    margin-top: 10rem;
  }
</style>