---
import Topics from "../data/topics.json";
import SubLayout from "../layouts/sub_layout.astro";
import Lesson from "../content/lesson_text/limits.mdx";
---

<SubLayout title={Topics.Titles[0]}>
 <main class="sl-dark">
  <Lesson />
</main>
</SubLayout>

<style>
  .Spacer {
    margin-top: 200rem;
  }
</style>