---

---

<main id = "TopHeader">
    <header id = "Header">
        <section class="Header-Text">                     
        </section>
        <img id = "AnimatedLogo" src="/Scaleculus/logo/AnimatedLogo.gif">
        <section id = "Slogan">
            
        </section>
        <img id = "Background" src ="/Scaleculus/background/mountain_sky_bg1.jpg" alt="">

        <div class="Design-Wrapper">
            <div id = "Design-Container">
            <img id = "Mascot" src = "/Scaleculus/logo/Mascot.png">
            <img class = "Header-Design" src = "/Scaleculus/logo/SubLogo.png" style="top: 45vh; left: 70vw; width:30vh; height:auto;">
            </div>
        </div>
        
       <div class = "Line"></div>
       <section id = "Bottom-Start">Scroll Down To ▼▼▼ Begin ▼▼▼</section>
    </header>
    <div id="Header-Spacer"></div>
</main>

<div class="Stars-Container">
    <div class="Star" style="top: 5vh; left: 10vw; font-size: 15vw;">✧</div>
    <div class="Star" style="top: 50vh; left: 5vw; font-size: 20vw;">✧</div>
    <div class="Star" style="top: 50vh; left: 80vw; font-size: 10vw;">✧</div>
    <div class="Star" style="top: 5vh; left: 80vw; font-size: 20vw;">✧</div>
</div>

<style>
    :root {
    --wisteria: #BEADDCff;
    --shadow-grey: #141527ff;
    --petal-frost: #F7D3EBff;
    --thistle: #D7BCE4ff;
    --wisteria-2: #C493DAff;
    --amethyst-smoke: #C18EC7ff;
    --snow: #F8EEEDff;
    }
    
    body {
    background: var(--shadow-grey);
    }


    #TopHeader {
        position: relative;
        z-index: 3;
       background-color: transparent;
    }

    #Header {
    position: fixed;  
    font-family: "Fugaz One", sans-serif;
    
    background-color: var(--shadow-grey);

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   

    text-align: center;
    text-decoration: none;

    opacity: 1;

    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 0rem;

    color: var(--snow);

    background: linear-gradient(10deg, var(--wisteria-2), var(--shadow-grey));

    border-bottom: solid 0.1rem var(--amethyst-smoke);
    box-shadow: 0px 0px 2rem 3px var(--amethyst-smoke);

    text-shadow: 0 0 15px rgba(190, 173, 220, 0.6), 
                 0 0 30px rgba(193, 142, 199, 0.4);
    z-index: 1;

    transition: all 0.5s ease;
    animation: pulse 3s ease-in-out infinite;
    }

    @keyframes pulse {
    0% {
        text-shadow: 0 0 10px var(--amethyst-smoke), 0 0 20px var(--wisteria-2);
    }
    50% {
        text-shadow: 0 0 20px var(--amethyst-smoke), 0 0 40px var(--wisteria-2);
    }
    100% {
        text-shadow: 0 0 10px var(--amethyst-smoke), 0 0 20px var(--wisteria-2);
    }
    }

    #Header-Spacer {
    height: 100vh;
    background-color: transparent;

    transition: height 0.5s ease;
    }

    .Header-Text {
    position: relative;
    font-family: "Fugaz One", sans-serif;

    font-weight: 500;
    font-size: 8vw;
    letter-spacing: 3vw;

    text-align: center;
    color: var(--snow); 

    width: max-content;

    margin: 0 auto;

    transition: all 0.5s ease;
    z-index: 1;
        
    }

    #Slogan {
        position: relative;

        font-family: "Press Start 2P", system-ui;
        font-weight: 1000;
        font-size: 2vw;
        opacity: 1;

        color: var(--snow);
        
        height: 2vh;
        width: 46vw;
        top: 10vw;
        letter-spacing: 0.1vw;
        
        transition: all 0.5s ease;
        z-index: 1;
    }

    #Slogan::after {
    content: '▮';
    display: inline-block;
    margin-left: 2px;
    animation: blink 1s infinite;
    }

    @keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
    }

    .Line {
        position: absolute;

        bottom: 15vh;
        left: 50%;
        transform: translateX(-50%);

        width: 30vw;
        height: 1vh;
        border-radius: 2rem;

        box-shadow: 0rem 0rem 1rem 0.1rem var(--snow);
        background-color: var(--snow);   

        opacity: 0.8;  
        z-index: 3;
    }

    #Bottom-Start {
        position: relative;

        font-family: "Press Start 2P", system-ui;
        font-weight: 1000;
        font-size: 2vw;
        opacity: 1;

        color: var(--snow);
        
        height: 1vh;
        width: 30vw;
        
        top: 38vh;
        
        letter-spacing: 0.1vw;
        
        transition: all 0.5s ease;
        
        animation: 
            blinkColor steps(1) 1s infinite;

        z-index: 1;

    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }


    @keyframes blinkColor {
        25% { color: var(--snow); }
        50% { color: black; }
        75% { color: var(--snow); }
        100% { color: black; }
    }

    #AnimatedLogo {
        position: absolute;
        width: 65vw;
        height: auto;

        pointer-events: none;
        user-select: none; 
        z-index: 10;

        transition: all 0.5s ease;
    }

    #Background {
    position: absolute;
    pointer-events: none;
    background-position: center;
    background-repeat: repeat;

    user-select: none; 

    top: 0rem;
    width: 100%;
    height: 100%;

    opacity: 0.25;
    filter: blur(1px) brightness(100%);
    
    transition: all 0.5s ease;

    z-index: 0;
    }

    #Mascot {
    position: absolute;
    pointer-events: none;

    user-select: none; 

    top: 60vh;
    left: 20vw;
    width: 8vw;
    height: auto;

    transform: rotate(20deg);

    opacity: 1;
    filter: brightness(100%) blur(0px) drop-shadow(20px 20px 10px #000000);
    -webkit-filter: drop-shadow(20px 20px 10px #222222);
    
    transition: all 0.5s ease;

    z-index: 5;
    animation: moveElements 2.5s ease-in-out infinite;
    }

    .Header-Design {
    position: absolute;
    pointer-events: none;

    user-select: none; 

    width: 20rem;
    height: 20rem;

    transform: rotate(20deg);

    opacity: 1;
    filter: brightness(100%) blur(0px) drop-shadow(20px 20px 10px #000000);
    -webkit-filter: drop-shadow(20px 20px 10px #222222);
    
    transition: all 0.5s ease;

    z-index: 5;
    animation: moveElements 3.5s ease-in-out infinite;
    }

    @keyframes moveElements {
    0%   { transform: translateY(0) rotate(20deg); }
    50%  { transform: translateY(2.5vh) rotate(15deg); }
    100% { transform: translateY(0) rotate(20deg); }
    }

    .Design-Wrapper {
    position: absolute;
    inset: 0;
    transition: all 0.5s ease;
    }

    .Design-Container {
    position: absolute;
    inset: 0;
    pointer-events: none;

    transition: all 0.5s ease;
    z-index: 0;
    }

    .Stars-Container {
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    pointer-events: none; 
    user-select: none; 

    z-index: 3; 
    transition: transform 0.6s ease;
    }

    .Star {
    position: absolute;
    color: transparent;
    font-weight: 1000;

    text-shadow: 
        -.5rem -.5rem 0.5rem var(--snow),   
        0 0 1rem var(--wisteria-2);

    opacity: 1;
    transition: all 0.5s ease;

    animation-name: move_stars;
    animation-duration: auto; 
    animation-timing-function: linear;
    animation-fill-mode: both; 

    animation: sparkle 2s ease-in-out infinite, shake 0.15s linear infinite;    
    }

    .Star:nth-child(2) { animation: sparkle 1.5s ease-in-out infinite, shake 0.15s linear infinite; }
    .Star:nth-child(3) { animation: sparkle 2.5s ease-in-out infinite, shake 0.15s linear infinite; }
    .Star:nth-child(4) { animation: sparkle 1.8s ease-in-out infinite, shake 0.15s linear infinite; }
    .Star:nth-child(5) { animation: sparkle 2.2s ease-in-out infinite, shake 0.15s linear infinite; }

    @keyframes sparkle {
    0%, 49%, 55%, 100% 
    { 
        opacity: 1; 
        text-shadow: -.5rem -.5rem 1rem var(--snow), 0 0 1rem var(--wisteria-2);
    }
    50% { 
        opacity: 0.3; 
        text-shadow: -.5rem -.5rem 0.5rem var(--snow), 0 0 1rem var(--wisteria-2);
    }
    }
    
    @keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-1px, 1px); }
    50% { transform: translate(1px, -1px); }
    75% { transform: translate(-1px, -1px); }
    100% { transform: translate(0, 0); }
    }

    @keyframes move_stars {
        0% { transform: translate(0, 0); }
    100% { transform: translate(0, 300px); }
    }

</style>    

<script is:inline>
    window.onscroll = function() {scrollFunction()};
    
    const Header = document.getElementById('Header');
    const Spacer = document.getElementById('Header-Spacer');
    const Stars = document.querySelector('.Stars-Container');
    const Logo = document.getElementById('AnimatedLogo');
    const BottomText = document.getElementById('Bottom-Start');

    const DesignContainer = document.querySelector('.Design-Wrapper');

    const Background = document.getElementById('Background');

function scrollFunction() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    Header.style.height = "5vh";

    Spacer.style.height = "50vh";

    Logo.style.width = "12vw"

    Slogan.style.opacity = "0";
    Slogan.style.maxHeight = '0';

    BottomText.style.opacity = "0";
    BottomText.style.maxHeight = "0"; 

    Stars.style.transform = "translateY(-100vh)";

    DesignContainer.style.transform = "translateY(-120vh)";

    Background.style.filter = "blur(5px) brightness(50%)";
  } else {
    Header.style.height = "100vh";

    Spacer.style.height = "100vh";

    Logo.style.width = "65vw"

    Slogan.style.opacity = "1";
    Slogan.style.maxHeight = "2vh";   

    BottomText.style.opacity = "1";
    BottomText.style.maxHeight = "1vh"; 

    Stars.style.transform = "translateY(0)";

    DesignContainer.style.transform = "translateY(0)";

    Background.style.filter = "blur(1px) brightness(100%)";
  }
} 

const Slogan = document.getElementById('Slogan');
const Text = "Interactive Calculus Learning Platform";
let index = 0;
const speed = 80; 

function typeSlogan() {
  if (index < Text.length) {
    Slogan.textContent += Text.charAt(index);
    index++;
    setTimeout(typeSlogan, speed);
  }
}


window.addEventListener('DOMContentLoaded', () => {
  typeSlogan();
});

</script>