---
const { title = "Scaleculus"} = Astro.props;
---

<div id="MiniHeader">
  <img id = "AnimatedLogo" src="/Scaleculus/logo/AnimatedLogo.gif">
  <section class="MiniHeader-Text"></section>
</div>

<style>
:root {
  --wisteria: #BEADDCff;
  --shadow-grey: #141527ff;
  --amethyst-smoke: #C18EC7ff;
  --snow: #F8EEEDff;
}

#AnimatedLogo {
        position: absolute;
        width: 12vw;
        height: auto;

        filter: brightness(100%) blur(0px) drop-shadow(20px 20px 10px #000000);

        pointer-events: none;
        user-select: none; 
        z-index: 10;

        transition: all 0.5s ease;
    }

#MiniHeader {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  height: 5vh;

  display: flex;

  align-items: center;   /* vertical centering */

  justify-content: center; /* horizontal centering */

  background: linear-gradient(10deg, #C493DAff, var(--shadow-grey));

  border-bottom: 0.1rem solid var(--amethyst-smoke);

  box-shadow: 0 0 1rem 0.25rem var(--amethyst-smoke);

  color: var(--snow);

  font-family: "Fugaz One", sans-serif;
  
  z-index: 5;

  padding: 0; /* remove extra padding that may offset centering */
}

.MiniHeader-Text {
  font-size: 1vw;
  font-weight: 100;
  letter-spacing: 0.2vw;
  text-shadow: 0 0 10px var(--amethyst-smoke), 0 0 20px #C493DAff;
  
  text-align: center;
  flex: 1;               /* take full width of header */
}

</style>